@import "libs"
@import "base"

body
	padding-top: 265px

	+r(767)
		padding-top: 200px

	+r(576)
		padding-top: 150px
	
	+r(480)
		padding-top: 105px
		font-size: 12px

.bunner
	position: absolute
	width: 100%
	z-index: -1
	left: 0
	right: 0

	&--top
		top: 0

	&--bottom
		bottom: 0

.container
	width: 100%
	max-width: 1500px
	padding: 0 15px
	margin: 0 auto

	+r(1500)
		max-width: 1200px

	+r(1200)
		max-width: 992px
	
	+r(992)
		max-width: 767px
	
	+r(767)
		max-width: 576px
	
	+r(576)
		max-width: 100%

.header
	margin-bottom: 10px

	&__container
		+between
		position: relative
		background-color: $bg
		padding: 15px 20px
		border-radius: 3px

		+r(1500)
			padding: 10px
	
	.container
		+r(480)
			padding: 0

	&__wrap
		+between

	&__logo
		width: 100px
		margin-right: 25px

		+r(1500)
			margin-right: 15px
		
		+r(1200)
			width: 80px
		
		+r(992)
			margin-bottom: 10px
		
		+r(480)
			width: 45px
			margin-right: 5px

		img
			width: 100%
			height: auto

	h1
		font-size: 24px
		text-transform: uppercase
		letter-spacing: 1.5px
		margin-right: 55px

		+r(1500)
			margin-right: 15px
			font-size: 20px
		
		+r(1200)
			font-size: 16px
		
		+r(992)
			width: 70%
			margin-bottom: 10px

		+r(480)
			font-size: 14px
			margin-right: 0
			letter-spacing: 0

	&__lang
		+between

		+r(1200)
			position: absolute
			right: 0
			bottom: 120%

		+r(480)
			right: 15px

		a
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50%
			width: 30px
			height: 30px
			opacity: 0.6
			margin-right: 12px

			&:last-child
				margin-right: 0

			+r(578)
				width: 20px
				height: 20px

		img
			width: 100%
			height: 100%
			border-radius: 50%
		
		&_active
			opacity: 1 !important

	.dropdown
		margin-right: 20px

		+r(992)
			width: 32%
			margin-right: 1%

			.btn
				width: 100%

		&:last-child
			margin-right: 0

		&-menu
			background-color: #434447
			max-height: 250px
			overflow: auto

		a
			color: #ffffff

			&:hover,
			&:focus
				color: $bg

.main

	&__container
		+between
		align-items: flex-start
	
		+r(480)
			padding: 0

	&__content
		width: 79%

		+r(1500)
			width: 74%
		
		+r(992)
			width: 100%

		&_green
			color: #00ad5d
		
		&_gray
			color: #7c7c7c

	&__table
		width: 49%
		border-spacing: 0 5px
		border-collapse: inherit

		+r(1500)
			+last
			width: 100%
			margin-bottom: 10px

		&_header
			text-transform: uppercase
			font-weight: 600
			border: none !important

		tr
			background-color: #28292b
			border-radius: 3px
			margin-bottom: 5px
			line-height: 1

			+r(992)
				&:nth-child(n+7)
					display: none

		td, th
			padding: 10px 8px

			+r(1500)
				padding: 5px

		th
			font-weight: 600
			background-color: rgba(#fff, .09) !important
			font-size: 14px

			b
				color: #ff9300

		td
			font-size: 12px
			min-width: 45px
			white-space: nowrap
			border-bottom: 2px solid #1a1b1d

			&:first-child
				width: 45%

		img
			margin-top: -3px
			margin-right: 5px

			+r(480)
				margin-right: 0

		p
			text-transform: uppercase
			font-size: 14px

		time
			display: block
			text-align: right

			+r(576)
				text-align: left

		tr
			+r(576)
				border-bottom: 1px solid #000
				display: flex
				flex-wrap: wrap
			
			&:nth-child(1)
				+r(576)
					th
						width: 100%

			td
				+r(576)
					display: block
					width: 60% !important
					border: none !important

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4)
						min-width: 40px
						width: 40px !important
					
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7)
						width: 20% !important
						text-align: left !important
				
				+r(400)
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7)
						width: auto !important

		&_accent
			color: $accent

			b
				color: #ff9300

		span
			color: #f1e1c5

	&__wrap
		+last
		+between
		align-items: flex-start
		background-color: #2c2d30
		padding: 10px
		margin-bottom: 10px
		border-radius: 3px

		+r(1500)
			padding: 5px

		tr:last-child
			td
				border: none

		&--two
			tr
				background-color: transparent
			
			td
				border-bottom: 1px solid #1f2020

	&__nav
		width: 20%

		+r(1500)
			width: 25%
		
		+r(992)
			display: none

		&_wrap
			+last
			background-color: #2b2c2f
			padding: 10px
			margin-bottom: 10px

		&_form

		&_select
			display: flex
			justify-content: space-between
			margin-bottom: 10px

			select
				width: 47%

		&_btn
			border: 1px solid #ff9300
			width: 200px
			color: #ff9300
			margin: 0 auto 20px

			&:hover,
			&:focus
				border: 1px solid #ff9300
				color: #ff9300

		&_radio
			+last
			display: flex
			flex-wrap: wrap
			margin-bottom: 15px

			div
				width: 30%
				margin-right: 3%

			label
				position: relative
				display: flex
				justify-content: center
				align-items: center
				height: 35px
				color: #fff
				cursor: pointer
				margin-bottom: 0
				margin-right: 0
				background-color: #424245
				font-size: 12px
				border-radius: 3px
				box-shadow: 0 0 3px 0 rgba(#000, .6)
				margin-bottom: 10px
				font-weight: 600

			input[type="checkbox"]
				display: none

			input[type="checkbox"]:checked + label
				background-color: $accent
				color: $bg

		&_bunner
			display: block
			border-radius: 3px
			padding: 3px

			img
				width: 100%

		&_time

			p
				text-align: center
				background-color: #333536
				margin-bottom: 10px
				padding: 10px
				text-transform: uppercase
				border-radius: 3px
				font-weight: 700

	&__bunner
		display: none

		+r(992)
			display: block
			max-width: 320px
			margin: 0 auto 10px
		
		+r(350)
			margin: 5px

.datepicker
	width: 100%
	background-color: transparent
	border-color: transparent !important
	font-size: 14px

	&--cell
		color: #ffffff
		background-color: #303134
		border: 2px solid #2c2d30
		height: 36px

		&:hover,
		&:focus,
		&:active
			color: $bg
			background-color: $accent
	
	&--nav
		border: 1px solid transparent
		border-bottom: 1px solid #000

		&-title
			+transition
			color: $accent
			text-transform: uppercase
			font-weight: 600

			&:hover
				color: $bg

				i
					color: $bg

			i
				color: $accent
				+transition
		
	&--day-name
		color: #ffffff

	&--cell-day.-other-month-,
	&--cell-year.-other-decade-
		color: #7c7c7c

	.-selected-,
	.-selected-.-current-
		background-color: #ff9300


.info
	padding-top: 70px
	padding-bottom: 60px

	+r(767)
		padding: 40px 0
	
	+r(480)
		padding: 20px 0

	h2
		text-transform: uppercase
		margin-bottom: 15px
		color: #dcdcdc
		font-size: 20px

		+r(767)
			font-size: 16px

		+r(480)
			font-size: 12px
			margin-bottom: 10px
	
	p
		+last
		font-weight: 600
		font-size: 12px
		color: #a2a2a2
		margin-bottom: 15px

		+r(480)
			margin-bottom: 10px


.reviews

	h2
		font-size: 22px
		margin-bottom: 15px

	&__content
		background-color: $bg
		border-radius: 3px
		padding: 25px

		+r(1200)
			padding: 15px
		
		+r(576)
			padding: 0

	&__server
		display: grid
		grid-template-columns: 1fr 5fr
		background-color: #2a2b2d
		margin-bottom: 20px
		box-shadow: 0 3px 2px 0 rgba(#000, .5)
		padding: 20px
		border-radius: 3px

		+r(1200)
			padding: 10px
		
		+r(578)
			.button
				margin: 0 auto
				grid-column: 1 / 3

		&_img
			width: 200px
			height: 200px
			border-radius: 3px
			margin-right: 15px
			grid-row: 1 / 5

			+r(1500)
				width: 150px
				height: 150px
			
			+r(1200)
				width: 120px
				height: 120px
			
			+r(767)
				width: 100px
				height: 100px

			+r(576)
				margin-bottom: 15px
				grid-row: 1 / 4

		p
			font-size: 14px
			margin-bottom: 15px

			+r(576)
				grid-column: 1 / 3
		
		&_title
			font-size: 24px
			color: #ebdac3
			text-transform: uppercase
			font-weight: 600
			margin-bottom: 10px

			+r(992)
				font-size: 20px
			
			+r(767)
				font-size: 18px

			+r(576)
				order: -1

		&_star
			display: flex
			align-items: center
			width: 100%
			margin-bottom: 30px
			color: #aeaeae
			font-size: 14px
			line-height: 1

			+r(1200)
				margin-bottom: 15px
				align-items: start

			+r(576)
				order: -1
				margin-bottom: 5px
			
			+r(480)
				font-size: 12px
				


			img
				margin-right: 3px

				+r(480)
					width: 12px

			span
				margin-left: 5px

	&__comments
		background-color: #37393b
		padding: 20px
		border-radius: 3px
		box-shadow: 0 3px 3px 0 rgba(#000, .5)
	
		h3
			color: #ff9300
			font-size: 20px
			font-weight: 400
			margin-right: 10px

			+r(576)
				font-size: 16px
			
			+r(480)
				font-size: 14px
		
		p
			+last
			margin-bottom: 5px
			font-size: 14px

			+r(576)
				margin-bottom: 2px
		
		b
			color: #aeaeae

		&_item
			border-bottom: 1px solid #292a2b
			padding-bottom: 15px
			margin-bottom: 15px

		&_header
			display: flex
			align-items: center
			color: #aeaeae
			margin-bottom: 10px
			font-size: 14px

			+r(576)
				font-size: 12px
				margin-bottom: 5px

			+r(480)
				font-size: 10px

		&_pluse
			b
				color: #00ad5d

		&_minus
			b
				color: #f24841
			
	&__btn
		display: flex
		justify-content: center


.filter
	h3
		font-size: 22px
		margin-bottom: 10px

		+r(767)
			font-size: 18px
			margin-bottom: 5px
		
		+r(576)
			font-size: 16px
			padding: 10px 10px 0 10px

	p
		font-size: 14px
		margin-bottom: 15px
		padding: 0 10px

		+r(767)
			margin-bottom: 10px

		+r(576)
			margin-bottom: 5px

	&__content
		+r(992)
			margin-bottom: 10px

	&__form
		background-color: #2a2b2d
		padding: 15px
		text-align: center
		margin-bottom: 10px !important
		box-shadow: 0 3px 3px 0 rgba(#000, .5)

		p
			font-size: 20px
			color: #ebdac3

			+r(767)
				font-size: 18px
				margin-bottom: 15px !important

			+r(576)
				font-size: 14px

	&__wrap
		max-width: 500px
		margin: 0 auto
		justify-content: space-around

		div
			margin-right: 0


		label
			height: 45px
			font-size: 18px
			background-color: #545556
			color: #f1e1c5

			+r(767)
				height: 35px
				font-size: 16px
			
			+r(480)
				height: 25px
				font-size: 12px


.footer
	padding-bottom: 20px

	&__container
		+between

		+r(576)
			flex-direction: column

	p
		width: 33%
		font-size: 12px
		color: #a2a2a2

		&:nth-child(2)
			text-align: center

		&:nth-child(3)
			text-align: right
		
		+r(576)
			text-align: center !important
			width: 100%
			margin-bottom: 10px

	a
		color: $accent

		&:hover,
		&:focus
			color: #ff9300


@import "page"